.admin-main{
  overflow: hidden;
}

.admin{
    margin-top: 2rem;
    overflow-y: scroll;
    height: 67vh;
}

.admin::-webkit-scrollbar{
    width: .3rem;
}

.admin::-webkit-scrollbar-thumb{
    background-color: white;
}
.admin::-webkit-scrollbar-track{
    background: black;
}
.adminForm{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.adminbtn{
    border: 1px solid black;
    width: 100%;
}
.adminbtn.selected{
    border-bottom: 1px solid #2196F3;
    color:white;
}

/* @@@@@@@@@@@@@@@@@@@@@USERS@@@@@@@@@@@@@@@@@ */
.admin{
    padding: 0 1rem;
}
.admin .user, .posts{
    width: 96%;
    margin: .6rem 0;
    border: 1px solid rgb(241, 235, 235);
    padding: 0 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-info, .posts-info{
  width: 80%;
}
.user img, .posts img{
  width: 100px;
  height: 100px;
  border-radius: 20%;
  margin-right: 20px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@Button toggle@@@@@@@@@@ */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* @@@@@@@@@@@@@@@@@@@@ Header style@@@@@@@@ */

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
 
.bounce-top {
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
          background-color:var(--primary-color);
          border-radius: 20px;
          padding: 5px 10px;
          color: white;
          margin: 10px 0;
          outline: none;
          border: none;
}

 @-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}


/* @@@@@@@Status@@@@@@@@ */
.status-body{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  margin: 15px 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.status-edit, .status-delete{
  margin: 0 5px;
  padding: 5px 9px;
  color: white;
  border: none;
  border-radius: 10px;
}
.status-edit{
  background-color: orange;
}
.status-delete{
  background-color: red;
}
.status{
  display: flex;
  justify-content: center;
  align-items: center;

}
.status-img{
  margin-right: 10px;
}
.status-img img{
  border-radius: 50%;
  width: 50px;
  height: 50px; 
}

/* @@@@@@@@@FORM UPDATE@@@@@@@@@@ */
.update-form-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.update-form{
  display: flex;
  flex-direction: column;
}
.update-form input{
  background-color: #f5f2f2;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  margin: 4px;
  
}
.update-form .file{
display: none;
}
.progress{
  color: white;
}
.update-form input::placeholder{
  color: rgb(116, 114, 114);
}
.update-form .imgUpload{
  width: 80px;
  height: 80px;
  position: relative;
}
.update-form .imgUpload label{
  z-index: 10;
  border-radius: 50%;
  left: 2px;
  top: 2px;
}
.update-form .imgUpload label img, .update-form .imgUpload label svg{
  border-radius: 50%;
  object-fit: cover;
  width: 92%;
  height: 92%;
}

.update-form .imgUpload .progress, .update-form .imgUpload label {
  position: absolute;
  width: 60px;
  height: 60px;
}
.update-form button{
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
}

/* @@@@@@@ Loader@@@@@@@@@@@@ */
.loader{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
