.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login img{
    width: 50px;
    height: 50px;
    margin-bottom: 2rem;
}
.login form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(207, 205, 205);
    padding: 1rem;
    border-radius: 3px;
}
.login form input{
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
    margin-bottom: .9rem;
    border: 1px solid rgb(192, 187, 187);
    
}
.login form input:focus{
    outline: 1px solid var(--primary-color);
}
.login form button{
    background-color: var(--primary-color);
    width: 90%;
    padding: .5rem 0;
    color: white;
    border-radius: 1rem;
    margin: 1rem;
}
.login p{
    margin-top: 1rem;
}
.login p a{
    text-decoration: underline;
}